<%
def distritos
  District.select("id", "name", "city_id").collect do |distrito|
    #[mpg_value.date.to_s, mpg_value.mpg.round(2).to_f ]
    {"name" => distrito.name, "city" => distrito.city.name}
  end
end
%>
var distritos = <%= distritos.to_json %>;

// constructs the suggestion engine
var districts = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: distritos
});

$(document).ready(function(){
  $('#parking-search-typeahead').typeahead(//{
    //hint: true,
    //highlight: true,
    //minLength: 1
  //},
  {
    hint: true,
    highlight: true,
    minLength: 1,
    classNames: {
      input: 'form-control',
      hint: 'form-control',
      query: 'form-control'
    }
  },
  {
    name: 'districts',
    display: 'name',
    source: districts,

    templates: {
      suggestion: function (data) {
        return '<div><strong>' + data.name + '</strong> - ' + data.city + '</div>';
        //console.log(data);
      }
    //  suggestion: '<div><strong>{{name}}</strong> - {{city}}</div>'
    }
  });
});