body,html {
  position: relative;
  height: 100%;
}

.navbar {
  margin-bottom:0px;
}

.hero {
  background-image: image-url('fondo01.jpg');
  background-size: cover;
  padding: 7% 0px 9%;
  h1 {
    color: white;
  }
}

.result {
  background-image: image-url('fondo02.jpg');
  background-size: cover;
  padding: 15% 0px 30%;
  h2 {
    color: white;
  }
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #FFFF00;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/*pie de página: footer*/
footer {
  padding: 2% 0;
  clear: both;
  background-color: black;
  h1, h2, p {
    color: white;
  }
  h1 {
    font-size: 1.4em;
    padding: 0.7em;
  }
  h2 {
    font-size: 1em;
    padding: 0.4em;
  }
  a {
    text-decoration: none; color: green;
  }
}
