<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Cuenta</h3>
                <ul>
                    <li>Mis reservas</li>
                    <li>Mi cuenta</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>¿Quiénes somos?</h3>
                <ul>
                    <li>¿Cómo funciona?</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Términos y Condiciones</li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <h3>Contacto</h3>
                <ul>
                    <li>Dirección</li>
                    <li>Correo Electrónico</li>
                    <li>Teléfono</li>
                </ul>
            </div>
        </div>
    </div>
</footer>