<!--<footer>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Cuenta</h3>
                <ul>
                    <li>Mis reservas</li>
                    <li>Mi cuenta</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>¿Quiénes somos?</h3>
                <ul>
                    <li>¿Cómo funciona?</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Términos y Condiciones</li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <h3>Contacto</h3>
                <ul>
                    <li>Dirección</li>
                    <li>Correo Electrónico</li>
                    <li>Teléfono</li>
                </ul>
            </div>
        </div>
    </div>

   <p class="text-center">UPC 2016</p>
   <p class="text-center">Contactate con nosotros: email <a href="mailto:mail@">Ayuda@easyparking.com</a></p>
</footer>-->

<div class="container">
  <hr class="featurette-divider">
  <footer>
    <!--<p class="pull-right"><a href="#">Back to top</a></p>-->
    <p>
      &copy; 2016 EasyParking. Todos los derechos reservados.
      &middot; Desarollado por Software Design Per&uacute; S.A.C.
      &middot; <%= link_to "Términos y Condiciones", home_tos_path %>
    </p>
  </footer>
</div>
