<header class="navbar navbar-inverse">
  <div class="container">
    <%= link_to "EASYPARKING", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Inicio", home_index_path %></li>
        <li><%= link_to "Ayuda", '#' %></li>
        <li><%= link_to "Ingresar", user_login_path %></li>
      </ul>
    </nav>
  </div>
</header>