
<div class="container block-margin">
  <div class="row">
    <div class="col-lg-6">
      <div class="well">
        <div class="page-header">
          <h2>Inicia sesión <small>Soy un usuario registrado.</small></h2>
        </div>
        <form>
          <div class="form-group">
            <label for="txtemail">Correo electrónico</label>
            <input type="email" class="form-control" id="txtemail" placeholder="Correo electrónico" required>
          </div>
          <div class="form-group">
            <label for="txtpassword">Contraseña</label>
            <input type="password" class="form-control" id="txtpassword" placeholder="Contraseña" required>
          </div>
          <%= link_to 'Ingresar', '#', :class => 'btn btn-block btn-primary' %>
          <%= link_to '<span class="fa fa-facebook"></span> Ingresar con facebook'.html_safe, '#', :class => 'btn btn-block btn-primary btn-social btn-facebook' %>
        </form>
      </div>
    </div>
    
    <div class="col-lg-6">
      <div class="well">
        <div class="page-header">
          <h2>Regístrate <small>Soy un usuario nuevo.</small></h2>
        </div>
        <form>
          <div class="form-group">
            <label for="txtname">Nombre</label>
            <input type="text" class="form-control" id="txtname" placeholder="Nombre" required>
          </div>
          <div class="form-group">
            <label for="txtsurname">Apellidos</label>
            <input type="text" class="form-control" id="txtsurname" placeholder="Apellidos" required>
          </div>
          <div class="form-group">
            <label for="txtaddress">Dirección</label>
            <input type="text" class="form-control" id="txtaddress" placeholder="Dirección" required>
          </div>
          <div class="form-group">
            <label for="txtemail">Correo electrónico</label>
            <input type="email" class="form-control" id="txtemail" placeholder="Correo electrónico" required>
          </div>
          <div class="form-group">
            <label for="txtpassword">Contraseña</label>
            <input type="password" class="form-control" id="txtpassword" placeholder="Contraseña" required>
          </div>
          <div class="form-group">
            <label for="txtpassword">Ingrese nuevamente su contraseña</label>
            <input type="password" class="form-control" id="txtpassword" placeholder="Contraseña" required>
          </div>
          <%= link_to 'Registrar', '#', :class => 'btn btn-block btn-primary' %>
          <%= link_to '<span class="fa fa-facebook"></span> Registrate con facebook'.html_safe, '#', :class => 'btn btn-block btn-primary btn-social btn-facebook' %>
      </form>
      </div>
    </div>
  </div>
</div>