<<<<<<< HEAD
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
=======
<div class="hero">
    <div class="container">
        <h1 class="text-center"><font color="yellow">Encuentra los mejores alquileres de parqueo!!</h1>
        
        <form class="form-inline text-center">
            <input type="text" class="form-control" placeholder="¿Donde deseas parquear ...?">
            <div class="form-group">
                <input type="date" class="form-control">
            </div>
            <select class="form-control">
                <option>Uno Solo</option>
                <option>Multiple</option>
            </select>
            <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
        </form>
    </div>
</div>
<div class="result">
    <div class="container">
        <h1 class="text-center"><font color="#190707">En todo Lima ... Y al toque.!!</h1>
    </div>
</div>
>>>>>>> 6c6557cb69dd582825d0dda835aa8e6311543a97
