<div class="hero">
  <div class="container">
    <h1 class="text-center">Encuentra los mejores alquileres de parqueo!!</h1>
    <form class="form-inline text-center">
      <input type="text" class="form-control" placeholder="¿Donde deseas parquear ...?">
      <div class="form-group">
                <input type="date" class="form-control">
            </div>
            <select class="form-control">
                <option>Uno Solo</option>
                <option>Multiple</option>
            </select>
      <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Buscar</button>
    </form>
  </div>
</div>

<div class="result">
  <div class="container">
    <h2 class="text-center">En todo Lima ... Y al toque.!!</h2>
  </div>
</div>
