<!--
<h1>Search#details</h1>
<p>Find me in app/views/search/details.html.erb</p>
-->
<p>
    <div class="container">
        <h1>Cochera en San Isidro</h1>
        <div class="row">
            <div class="col-md-6">
                <p class="text-center">
                <%= image_tag 'parking', size: "240", class: "img-thumbnail" %>
                <!-- star rating -->
                </p>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Descripci&oacute;n 1</li>
                    <li>Descripci&oacute;n 2</li>
                    <li>Descripci&oacute;n 3</li>
                </ul>
                <p class="text-center">
                    <%= link_to "RESERVAR", booking_index_path, {class: "btn btn-default", role: "button"} %>
                </p>
            </div>
        </div>
            <h2>Rese&ntilde;as</h2>
            <p class="bg-info">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="bg-info">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="bg-info">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</p>
